<html>
  <head>
    <style>
    * {
        box-sizing: border-box;
    }

    .column1 {
        float: left;
        width: 33.33%;
        padding: 5px;
    }
   .column2 {
        float: right;
        width: 33.33%;
        padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    
    </style>
    <title>Video Streaming Demonstration</title>
  </head>
  <body background="{{url_for('static', filename='wallpaper_01.jpg')}}" >
  	<br><br>
    <Center><H1 style="color:white;" >AutoDet - Smart Hygiene Detector</H1>
    	<br><br>
    	<br><br>
    	<div style="display: inline-block">
   			<img id="bg2" border="3" src="{{ url_for('video_feed_1') }}"
		</div>
		<div style="display: inline-block">
   			<img id="bg1" border="3" src="{{ url_for('video_feed_2') }}"
		</div>
    </Center>

    

  </body>
</html>
