<html>
  <head>
    <style>
    * {
        box-sizing: border-box;
    }

    .column {
        float: left;
        width: 33.33%;
        padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
    </style>
    <title>Video Streaming Demonstration</title>
  </head>
  <body>
    <h1>Video Streaming Demonstration</h1>
    <div class="row">
      <div class="column">
        <img id="bg2" src="{{ url_for('video_feed_1') }}"
      </div>
      <div class="column">
        <img id="bg1" src="{{ url_for('video_feed_2') }}"
      </div>
    </div>
  </body>
</html>
